html,
body {
  background: #000;
  display: block;
  margin: 0;
  padding: 0;
}

#gameArea {
  margin: 0 auto;
}

#canvas {
  width: 320px;
  height: 416px;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  cursor: none;
}

@media (min-width: 641px) {
  #canvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
